DATABASE_URL="postgresql://flourish:flourish@localhost:5432/flourish"
PORT=4000
JWT_SECRET="dfdfvdjdJDNSJJDCNDJjnjnknJKNJNKNNKkldckdlcdksldlandk"
CORS_ORIGIN="http://localhost:5173"
ADMIN_SEED_EMAIL="flourishbakery2025@gmail.com"
ADMIN_SEED_PASSWORD="1234"
ADMIN_SEED_NAME="مدیر فلوریش"
